#head{
    color: yellowgreen;
    margin: -100px -6px;
}

#nav::before {
    opacity: 0.4;
    content: "";
    background-color: rgb(28 213 43);
    position: absolute;
    height: 67px;
    width: 1912px;
}


#nav ul {
    display: flex;
    flex-direction: row;
    text-align: right;
    font-family: 'Itim', cursive;
    margin: -8px -29px;

}

#nav ul li {
    list-style: none;
    padding: 10px;
    text-align: right;
}

#nav ul li a {
    text-decoration: none;
    color: rgb(81, 95, 61);
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 40px;
    text-align: right;

}

#img::before{
    content: "";
    background: url(green-tea-bud-leaves-green-tea-plantations-morning_335224-955.avif) no-repeat center center/cover;
    position: absolute;
    height: 58%;
    width: 100%;
    z-index: -1;
    margin: -42px -7px;

}

.h {
    text-align: center;
}

#h0 {
    font-size: 4rem
}

#h9 {
    font-size: 24px;
}

#s1 {
    padding: 125px;
}

#btn {
    padding: 21px;
    background-color: rgb(0 128 0);
    margin: 32px 720px;
    border: none;
    border-radius: 24px;
}

#count1 {
    border: 1px solid green;
    height: 315px;
    width: 348px;
    margin: 42px;
}

#count2 {
    border: 1px solid green;
    height: 315px;
    width: 348px;
    margin: 42px;
}

#count3 {
    border: 1px solid green;
    height: 315px;
    width: 348px;
    margin: 42px;
}

#count4 {
    border: 1px solid green;
    height: 315px;
    width: 348px;
    margin: 42px;
}

#count {
    display: flex;
    flex-direction: row;
    margin: -26px 266px;
    font-family: 'Dancing Script', cursive;

}

#tra{
    text-align:center;
}

p{
    text-align: center;
}

#box {
    border: 1px solid black;
    box-shadow: 3px 7px 29px 7px;
    padding: 70px;
    margin: 19px 48px;
    width: 426px;
    height: 141px;
}

#imp1 {
    margin: 1px 18px;
    width: 340px;
}

#imp2 {
    margin: 1px 3px;
    width: 340px;
}

#imp3 {
    margin: 1px 12px;
    width: 340px;

}

#i {
    display: flex;
    flex-direction: row;
}

#a {
    margin: 64px 64px;
}

#b {
    margin: 65px -15px;
}

#ii {
    display: block;
}

#c {
    margin: 130px -297px;
}

#d {
    margin: -150px -183px;
}

h3 {
    margin: 205px 341px;

}

h2 {
    margin: 202px -297px;
}

.inp{
    margin: 1px 16px;
    width: 340px;
}

#i{
    justify-content: center;
}

#table{
    margin: -83rem 27px;
    padding: 11px;
    font-size: 2rem;
}